@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*:before,
*:after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'AvenirNext', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #eceef1;
}

a {
    text-decoration:none;
}

.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh
}

button {
    width:100%;
    padding:10px;
    border-radius:3px;
    background-color:#167ccc;
    color:white;
    font-size:15px;
    border:0;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    
}

/*logo headers*/

.logos img {
    display:block;
    margin:0 auto;
    margin-bottom:20px;
}


header {
    display:flex;
    justify-content:flex-end;
    width:100%;
    margin:10px 30px 20px;
    gap:10px;
    font-size:15px;

}


.sign-in {
    width:150px;
    height:50px;
}

/* form elements */

form {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:380px;
    padding:30px 15px;
    background-color: #fff;
    border:1px solid #c7c7c7;
    border-bottom:0px;
    border-radius:3px;
}

.form-input,
.privacy-statement,
.caption {
    width:320px;
}

.caption,
.caption h1 {
    text-align:center;
    margin-bottom:20px;
}

.caption h1 {
    font-size:24px; 
    font-weight:100;
    color: #393a3d;
}

.caption p {
    color:#757575;
    font-size:14px;
}

.form-input {
    width:320px;
    padding:15px 0px;
    
}

label {
    display:block;
    padding-bottom:10px;
}

.form-input input{
    width:100%;
    padding:5px;
    margin-bottom:5px;
    
}

.reccomended-text {
    color:#757575;
}

.privacy-statement {
    text-align:center;
    font-style:italic;
    font-size:0.8rem;
    color:#757575;
}

.rates, 
.captcha-text {
    font-size:12px;
}

.captcha-text {
    width:100%;
    text-align:center;
    max-width:380px;
    background-color:#eceef1;
    padding:15px 0;
    color:#8d9096;
    border-top: 0px;
    border-left:1px solid #c7c7c7;
    border-right:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
}

/*footer elements*/

footer ul {
    margin:20px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;

}

footer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-size:14px;
}

footer li {
    list-style-type:none;
}